<style>
  .field_with_errors { display: inline; }
</style>
<%= form_for([@subcategory]) do |f| %>
  <% if @subcategory.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@subcategory.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @subcategory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :subcategory_name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :category_name %><br>
    <!-- <%= f.text_field :category_id %> -->
    <%= f.select(:category_id, options_from_collection_for_select(@categories, 'id', 'name', @subcategory.category_id || "")) %>
  </p>

  <p>
    <%= f.submit :add %>
  </p>


<% end %>
