<h2>List of the subcategories</h2>

<%= link_to "New subcategory", new_subcategory_path %>


  
<table>
  <tr>
    <th>Subcategory name</th>
    <th>Category name</th>
  </tr>

  <% @subcategories.each do |subcategory| %>
  <% if !subcategory.hidden || cookies[:show_hidden].to_i > 0 %>
    <tr <% if subcategory.hidden %>style="text-decoration: line-through;"<% end %> >
      <td><%= subcategory.name %></td>
      <td><%= subcategory.category.name %></td>

      <td><%= link_to "Show", subcategory_path(subcategory) %></td>
      <td><%= link_to "Edit", edit_subcategory_path(subcategory) %></td>
      <% if subcategory.hidden %>
      <td><%= link_to "Unhide", unhide_subcategory_path(subcategory),
              method: :unhide,
              data: { confirm: "Are you sure? That will unhide related products and purchases too." }
            %>
      </td>
      <% else %>
      <td><%= link_to "Hide", hide_subcategory_path(subcategory),
              method: :hide,
              data: { confirm: "Are you sure? That will hide related products and purchases too." }
            %>
      </td>
      <% end %>
      <td><%= link_to "Destroy", subcategory_path(subcategory),
              method: :delete,
              data: { confirm: "Are you sure? That will delete related products and purchases too." }
            %>
      </td>
    </tr>
  <% end %>
  <% end %>
</table>
