<%= link_to 'Nowy', new_subcategory_path %>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Kategoria</th>
    <th>KategoriaNazwa</th>
    <!-- <th>Data utworzenia</th> -->
    <!-- <th>Data zmiany</th> -->
  </tr>

  <% @subcategories.each do |sc| %>
    <tr>
      <td><%= sc.name %></td>
      <td><%= sc.category_id %></td>
      <td><%= sc.category.name %></td>
      <!-- <td><%= sc.created_at %></td> -->
      <!-- <td><%= sc.updated_at %></td> -->

      <td><%= link_to 'Pokaż', subcategory_path(sc) %></td>
      <td><%= link_to 'Edit', edit_subcategory_path(sc) %></td>
      <td><%= link_to 'Destroy', subcategory_path(sc),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
