<h2>Subcategory details</h2>

  <p>
  <strong>nazwa podkat:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>kategoria:</strong>
  <%= @subcategory.category_id %>
</p>

<p>
  <strong>datadod:</strong>
  <%= @subcategory.created_at %>
</p>

<p>
  <strong>datadzm:</strong>
  <%= @subcategory.updated_at %>
</p>

<p>
  <strong>user_id:</strong>
  <%= @subcategory.category.user_id %>
</p>


<%= link_to 'Back', subcategories_path %>
