<table>
  <tr>
    <th>product</th>
	<!-- don't show cart if we are in it's context -->
    <% if @cart.nil? %><th>cart</th><% end %> 
    <th>name</th>
    <th>price</th>
    <th>amount</th>
    <th>unit</th>
  </tr>

  <% @purchases.each do |purchase| %>
    <tr>
      <td><%= purchase.product.name %></td>
      <% if @cart.nil? %><td><%= purchase.cart.name %></td><% end %>
      <td><%= purchase.name %></td>
      <td><%= purchase.price %></td>
      <td><%= purchase.amount %></td>
      <td><%= purchase.product.unit %></td>

      <td><%= link_to 'Show', purchase_path(purchase) %></td>
      <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
      <td><%= link_to 'Destroy', purchase_path(purchase),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
