<table>
  <tr>
    <th>product name</th>
    <!-- don't show cart if we are in it's context -->
    <% if @cart.nil? %><th>cart name</th><% end %> 
    <th>purchase name</th>
    <th>price</th>
    <th>amount</th>
    <th>unit</th>
  </tr>

  <% @purchases.each do |purchase| %>
  <% if !purchase.hidden || cookies[:show_hidden].to_i > 0 %>
    <tr <% if purchase.hidden %>style="text-decoration: line-through;"<% end %> >
      <td><%= purchase.product.name %></td>
      <% if @cart.nil? %><td><%= purchase.cart.name %></td><% end %>
      <td><%= purchase.name %></td>
      <td><%= purchase.price %></td>
      <td><%= purchase.amount %></td>
      <td><%= purchase.product.unit %></td>

      <td><%= link_to "Show", purchase_path(purchase) %></td>
      <td><%= link_to "Edit", edit_purchase_path(purchase, :redirect_to_cart => @cart.present?.to_s) %></td>
      
      <% if purchase.hidden %>
      <td><%= link_to "Unhide", unhide_purchase_path(purchase),
              method: :unhide,
              data: { confirm: "Are you sure?" }
            %>
      </td>
      <% else %>
      <td><%= link_to "Hide", hide_purchase_path(purchase),
              method: :hide,
              data: { confirm: "Are you sure?" }
            %>
      </td>
      <% end %>
      <td><%= link_to "Destroy", purchase_path(purchase),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
  <% end %>
</table>
