<h2>Purchase details</h2>

<p>
  <strong>cart name:</strong>
  <%= @purchase.cart.name %>
</p>

<p>
  <strong>product name:</strong>
  <%= @purchase.product.name %>
</p>

<p>
  <strong>purchase name:</strong>
  <%= @purchase.name %>
</p>

<p>
  <strong>price:</strong>
  <%= @purchase.price %>
</p>

<p>
  <strong>amount:</strong>
  <%= @purchase.amount %>
</p>
<p>
  <strong>unit:</strong>
  <%= @purchase.product.unit %>
</p>


<%= link_to 'Back', purchases_path %>
