<style>
  .field_with_errors { display: inline; }
</style>

<%= form_for([@cart]) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cart.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @cart.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :cart_name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :creation_date %>
    <%= f.date_field :creation_date, value: @cart.creation_date.strftime("%Y-%m-%d") || Date.today %>
  </p>

  <p>
    <%= f.submit :add %>
  </p>

<% end %>
