<h2>List of the carts</h2>

<%= link_to "New cart", new_cart_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Created on</th>
  </tr>

  <% @carts.each do |cart| %>
  <% if !cart.hidden || cookies[:show_hidden].to_i > 0 %>
    <tr <% if cart.hidden %>style="text-decoration: line-through;"<% end %> >

      <td><%= cart.name %></td>
      <td><%= cart.creation_date.strftime("%Y-%m-%d") %></td>

      <td><%= link_to "Show", cart_path(cart) %></td>
      <td><%= link_to "Edit", edit_cart_path(cart) %></td>
      <% if cart.hidden %>
      <td><%= link_to "Unhide", unhide_cart_path(cart),
              method: :unhide,
              data: { confirm: "Are you sure? That will unhide purchases too." }
            %>
      </td>
      <% else %>
      <td><%= link_to "Hide", hide_cart_path(cart),
              method: :hide,
              data: { confirm: "Are you sure? That will hide purchases too." }
            %>
      </td>
      <% end %>
      <td><%= link_to "Destroy", cart_path(cart),
        method: :delete,
        data: { confirm: "Are you sure? That will delete related purchases too." }
      %>
      </td>
      


    </tr>
    <% end %>
  <% end %>
</table>
