<h2>Cart details</h2>

<p>
  <strong>name:</strong>
  <%= @cart.name %>
</p>

<p>
  <strong>added:</strong>
  <%= @cart.creation_date.strftime("%Y-%m-%d") %>
</p>




Add a product to the cart<br>
<% if @cant_add_purchase_reason == "" %>
<%= render 'purchases/form' %>
<% else %>
<%= @cant_add_purchase_reason %>
<% end %>
<br>

Currently in the cart 
<br>
<%= render 'purchases/table' %>


<%= link_to 'Back', carts_path %>
