<h2>List of the categories</h2>

<%= link_to 'New category', new_category_path %>

<table>
  <tr>
    <th>Category name</th>
  </tr>

  <% @categories.each do |category| %>
  <% if !category.hidden || cookies[:show_hidden] %>
    <tr <% if category.hidden %>style="text-decoration: line-through;"<% end %> >
      <td><%= category.name %></td>

      <td><%= link_to 'Show', category_path(category) %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <% if category.hidden %>
      <td><%= link_to "Unhide", unhide_category_path(category),
              method: :unhide,
              data: { confirm: "Are you sure? That will unhide related subcategories, products and purchases too." }
            %>
      </td>
      <% else %>
      <td><%= link_to "Hide", hide_category_path(category),
              method: :hide,
              data: { confirm: "Are you sure? That will hide related subcategories, products and purchases too." }
            %>
      </td>
      </td>
      <% end %>
      <td><%= link_to "Destroy", category_path(category),
              method: :delete,
              data: { confirm: "Are you sure? That will delete related subcategories, products and purchases too." }
            %>
      </td>
    </tr>
  <% end %>
  <% end %>

</table>
