<%= link_to 'Nowy', new_category_path %>

<table>
  <tr>
    <th>Nazwa</th>
    <!-- <th>Data utworzenia</th> -->
    <!-- <th>Data zmiany</th> -->
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <!-- <td><%= category.created_at %></td> -->
      <!-- <td><%= category.updated_at %></td> -->

      <td><%= link_to 'Pokaż', category_path(category) %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category_path(category),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>
