<h2>List of the products</h2>

<%= link_to "New product", new_product_path %>

<table>
  <tr>
    <th>Category name</th>
    <th>Subcategory name</th>
    <th>Product name</th>
    <th>Unit</th>
  </tr>

  <% @products.each do |product| %>
  <% if !product.hidden || cookies[:show_hidden].to_i > 0 %>
    <tr <% if product.hidden %>style="text-decoration: line-through;"<% end %> >
      <td><%= product.subcategory.category.name %></td>
      <td><%= product.subcategory.name %></td>
      <td><%= product.name %></td>
      <td><%= product.unit %></td>

      <td><%= link_to "Show", product_path(product) %></td>
      <td><%= link_to "Edit", edit_product_path(product) %></td>
      <% if product.hidden %>
      <td><%= link_to "Unhide", unhide_product_path(product),
              method: :unhide,
              data: { confirm: "Are you sure? That will unhide related purchases." }
            %>
      </td>
      <% else %>
      <td><%= link_to "Hide", hide_product_path(product),
              method: :hide,
              data: { confirm: "Are you sure? That will hide related purchases." }
            %>
      </td>
      <% end %>
      <td><%= link_to "Destroy", product_path(product),
              method: :delete,
              data: { confirm: "Are you sure? That will delete related purchases." }
              %>
      </td>
    </tr>
  <% end %>
  <% end %>
</table>
